<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Node.js and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et ut quibusdam est atque iure.</p>
  <h3 class="my-4"></h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eum vitae voluptas. Voluptate ullam laboriosam eum
    repellat quos tenetur ut?</p>
  <a href="https://www.faztweb.com" class="btn btn-primary" target="_blank">FaztWeb</a>
</div>